# Directories
__pypackages__/
__pycache__/
.git/
.github/
.pytest_cache/
.vscode/
build/
dist/
htmlcov/
scripts/
tests/

# Environments
.env
.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Files
.coverage
.gitignore
.dockerignore
bucket_cors.json
docoker-compose.yml
Dockerfile_dev.yml